- user = item.user
   .media-body
    .message
      %span.user= link_to user.name, user
      が#{item.published_at.to_date}に投稿しました

    %h4.title
      = link_to item.title, user_item_path(item.user, item)
      